<%= content_for :page_title, 'Suit Seats' %>
<%= content_for :back_link, '/pages/venue' %>w
<div class="orderpage">
       <%= render 'shared/main_nav' %>
		   <!-- /row -->
		  <div class="fixedfooter place-order-page text-center">
		  	<div>
			  	<div class="smallfont">Enter you seat location at</div><br>
				<div class="vanue-name">Lloyd Noble Stadium</div><br>
				<div class="smallfont"><a href="/pages/venue">Not your venue?</a></div><br><br>
			</div>
                        <%= render 'form' %>
		  </div>
		</div>
