		<div class="fixedfooter"></div>
		<div class="footer text-center">
			<div class="total-amount">TOTAL: <span class="amount">$24.00</span></div>
			<a href="pages/placeorder-gift" class="btncheckout">CHECKOUT</a>
		</div>
