		<div class="fixedfooter"></div>
		<div class="footer text-center">
			<div class="total-amount">TOTAL: <span class="amount">$0.00</span></div>
			<a href="#" class="btncheckout">CHECKOUT</a>
		</div>
