		  <nav class="navbar">
			<div class="text-center title">
                          <a class="backbtn float-left" href="<%= yield(:back_link) %>">&lt; BACK</a>
                          <span class="pageTitle"><%= yield(:page_title) %></span>
                          <span class="menu float-right"></span>
                        </div>
			<div class="mobilemenu">
				<ul>
					<li><a href="#">Sign up</a></li>
					<li><a href="#">Sign In</a></li>
					<li><a href="#">Billing Info</a></li>
					<li><a href="#">Select Venue</a></li>
					<li><a href="#">Order Concessions</a></li>
					<li><a href="#">Check Order Status</a></li>
				</ul>
			</div>
		  </nav>

