<div class="innerpage">		
		  <nav class="navbar">			
			<div class="text-center title"><span class="logoicon float-left"></span><span>ENTER BILLING INFO</span><span class="menu float-right"></span></div>
			<div class="mobilemenu">
				<ul>
					<li><a href="#">Sign up</a></li>
					<li><a href="#">Sign In</a></li>
					<li><a href="#">Billing Info</a></li>
					<li><a href="#">Select Venue</a></li>
					<li><a href="#">Order Concessions</a></li>
					<li><a href="#">Check Order Status</a></li>
				</ul>
			</div>
		  </nav>
		   <!-- /row -->	
		  <div class="row ">			   
			<div class="text-center tab-wrapper">
			  <ul>
				<li class="active"><a href="">Credit Card</a></li>
				<li><a href="">Paypal</a></li>
			  </ul>
			</div>			  
		  </div>	
		   		
		 <div class="text-center signin-form">
		 	 <div class="row signup-bottom text-center">
		  	Enter your billing info to begin placing orders on SuiteSeats.
		  </div>	
		  	<form>
				<div class="fields">
					<div class="leftico float-left"></div><div class="field_form float-left"><input class="inputfield" value="FIRST NAME" type="text"  ></div><div class="rightico float-left"></div>
					<div class="clear"></div>
					<div class="leftico float-left"></div><div class="field_form float-left"><input class="inputfield" value="LAST NAME" type="text"  ></div><div class="rightico float-left"></div>
					<div class="clear"></div>
					<div class="leftico float-left"><img src="images/lock.png"></div><div class="field_form float-left"><input class="inputfield ccnumber" value="CREDIT CARD NUMBER" type="text"  ></div><div class="rightico float-left"></div>
					<div class="clear"></div>
					<div class="leftico float-left"></div><div class="field_form width100 float-left"><input class="inputfield datefield" value="JAN | 2015" type="text"  ><input class="inputfield cvvfield" value="CVV" type="text"  ></div><div class="rightico float-left"><img src="images/qmark.png"></div>
					<div class="clear"></div>
				</div>
				<div class="row signup-bottom text-center">
					<img src="images/select.png" align="absmiddle" width="42"> Save this card for use later?
				  </div>
				 <div class="row signupbutton-wrapper text-center">
					<button class="signinbtn">CONFIRM ORDER</button>
			 	</div>
			 </form>
		  </div>
		  
		</div>