<%= render 'shared/main_nav' %>
<div class="orderstatus-page text-center venuelist">
		  	<ul>
				<li class="orderheader">
					<div class="smallfont" >
						Check on the status of the orders you placed:
					</div>
				</li>
				<li class="orderdetails">
					<div class="orderdetails-wrapper" >
						<div class="ordernumber">ORDER #1 - 6:45 PM </div>
						<ul class="orderitems">
							<li>2 HOT DOGS </li>
							<li>2 IPA BEERS</li>
						</ul>
						<div class="ordertotal">Total: $24.00</div>
						<div class="orderposition">Row: 45 | Seat: 15</div>
						<div class="orderstatus">Status: Order Received</div>
					</div>
				</li>

			</ul>
		  </div>
		   <div class="row signupbutton-wrapper text-center">
				<button class="signinbtn">PLACE ANOTHER ORDER</button>
			</div>
		</div>
