<div class="innerpage">

   <%= render 'shared/main_nav' %>
		   <!-- /row -->
		  <div class="row ">
			<div class="text-center tab-wrapper">
			  <ul>
				<li class="active"><a href="/pages/email_signup">Sign Up</a></li>
				<li><a href="/pages/venue">Sign In</a></li>
			  </ul>
			</div>
		  </div>
		  <div class="row signupbutton-wrapper text-center">
		  	<button class="fbsignupbtn"><div class="fbicon"></div><div class="signuppad">Continue With Facebook</div></button>
			<button class="mailsignupbtn"><div class="mailicon"></div><div class="signuppad">Sign up with Email</div></button>
		  </div>
		  <div class="row signup-bottom text-center">
		  	Already have an account?<br>
			<a href="/pages/venue">Sign in now.</a>
		  </div>
		</div>
