	<div class="innerpage">
		  <nav class="navbar">
			<div class="text-center title"><span class="logoicon float-left"></span><span>JOIN SUITE SEATS</span><span class="menu float-right"></span></div>
		  </nav>
		   <!-- /row -->
		  <div class="row ">
			<div class="text-center tab-wrapper">
			  <ul>
				<li><a href="">Sign Up</a></li>
				<li class="active"><a href="">Sign In</a></li>
			  </ul>
			</div>
		  </div>
		  <div class="text-center signin-form">
		  	<form>
				<div class="fields">
					<div class="leftico float-left"></div><div class="field_form float-left"><input class="inputfield" value="EMAIL" type="text"  ></div><div class="rightico float-left"></div>
					<div class="clear"></div>
					<div class="leftico float-left"></div><div class="field_form float-left"><input class="inputfield" value="PASSWORD" type="password"  ></div><div class="rightico float-left"></div>
				</div>
				 <div class="row signupbutton-wrapper text-center">
					<button class="signinbtn">SIGN IN</button>
			 	</div>
			 </form>
		  </div>
		 
		  <div class="row signup-bottom text-center">		  
			<a href="#">Forgot your password?</a>
		  </div>
		</div>
